body { font-family:Helvetica, Arial; min-width:320px; }

h1, h2, h3, h4 {font-weight:normal; font-size:24px; color:#052743; padding:0; margin:0; }
h2, h3 {font-size:16px; padding: 0 0 12px 0;}
h3 {font-size:14px; padding:0 0 9px 0;}

#map {background-color:#fff !important; height:100%; margin-right:342px; }
.map-container { height:100%;}
#side_bar, #search, div.infoBoxContent, #updated-on { font-size: 12px; color:#404040;}
#side_bar { position:absolute; top:0; right:0; width:342px;height:100%;overflow-y:auto;overflow-x:hidden; line-height:18px; -webkit-box-shadow:0 0 1px 1px rgba(0,0,0,0.1); -moz-box-shadow:0 0 1px 1px rgba(0,0,0,0.1); box-shadow:0 0 1px 1px rgba(0,0,0,0.1);}
#header, #content {width:306px;padding:0 18px 0 18px;}
#header, #header-portrait {padding:22px 18px 9px 18px; border-top:2px solid #0D71BA;}
#header-portrait { padding:9px 9px 8px 9px; border-bottom:1px solid #e5e5e5; }
#telegeography-logo-portrait { width:62px; height:12px; margin-bottom:1px; background:url(images/telegeography-logo-portrait-2x.png) no-repeat; background-size:62px 12px; }
#header-portrait h1 { font-size:12px; line-height:12px; }
#telegeography-logo, .company-logo { display:block; }
#header-portrait { display:none; }
#telegeography-logo {width:108px; height:21px; background:url(images/telegeography-logo.png) no-repeat; background-size:108px 21px; }
.company-logos { position:relative; width:275px; height:47px;}
.company-logo { position:absolute; top:0; left:0; }
.company-logo, .company-logo-portrait {width:275px; height:47px; background-repeat:no-repeat; background-color:#fff; }
.huawei-marine-logo { background-image:url(images/huawei-marine-logo.png); }
.equinix-logo { background-image:url(images/equinix-logo.png); }
.company-logo-portrait { position:absolute; top:7px; right:9px; height:20px; width:50%; background-size:contain; background-repeat:no-repeat; background-position:right top;  }
#content {padding-bottom:18px;}
#search {width:284px; height:18px; line-height:18px; font-size:14px; padding:0 18px 0 40px; color:#fff; border:none;background:none;outline:none;font-family:Helvetica,Arial;font-weight:bold;}
#search.focus { color:#0071bc;}
#nav { height:18px; padding:11px 0 11px 0; margin:0 0 18px 0;background:#0071bc url(images/search-icon.png) 18px 13px no-repeat;color:#fff;}
#nav.focus { background:#F6ECCF url(images/search-icon.png) 18px -23px no-repeat; color:#0071bc;}
#description { padding:0 0 32px 0;}
#copyright { position:fixed; right:0; bottom:0; width:306px; height:32px; line-height:32px; padding:0 18px 0 18px; background:#fff;}

h2#name {padding:0;}
a.email-link {display:block;margin:6px 0 12px 0;padding:0 0 0 16px;height:10px;line-height:10px;background:url(images/share-icons.png) no-repeat 0 -38px;}
a.email-link:hover {background-position:0 -48px;}

.company {padding:0;}
.company img {border:0;}
#footer, .company, .company-portrait {font-size:10px;color:#b3b3b3;}
.company-portrait { position:absolute; top:29px; right:9px; height:7px; font-size:7px; line-height:7px; color:#666; }
#footer { height:12px; line-height:12px; padding:6px 0 0 0;}
#footer a {float:right;margin:0 0 0 4px;height:12px;}
#footer a.facebook, #footer a.twitter, #footer a.github  {display:block;width:12px;background-image:url(images/share-icons.png);}
#footer a.facebook {background-position:0 0;}
#footer a.twitter {background-position:0 -12px;}
#footer a.github {background-position:0 -24px;width:33px;height:14px;}

div.infoBoxContent {position:relative;float:left;min-width:100px;padding:5px 10px 5px 10px;background:#0071bc;color:#fff;}
div.infoBoxPointer {position:absolute;bottom:-9px;left:56px;width:10px;height:9px;background:url(images/info-box-pointer.png);}

ul {margin:0;padding:0;}
ul.features, a, a:visited {color:#0071bc;}
ul.features li a { display:block; min-height:18px; line-height:18px; }
ul.properties {padding:0 0 18px 0;}
ul.properties strong {font-weight:normal; color:#052743;}
li { list-style-type:none; padding:0; margin:0; }

ul.ui-menu li.ui-menu-item { border:none; padding:0; margin:0; border-bottom:1px solid #d9d9d9;}
/* ul.ui-menu li.ui-menu-item a, ul.ui-menu li.ui-menu-item a.ui-state-hover, ul.ui-menu li.ui-menu-item  a.ui-state-focus { display:block; font-family:Helvetica, Arial; font-size:14px; color:#0071bc; background:#fff; min-height:26px; line-height:26px; padding:0 18px 0 18px; margin:0; border:none; border-left:none; border-right:none; cursor:pointer;}
ul.ui-menu li.ui-menu-item a.ui-state-hover, ul.ui-menu li.ui-menu-item  a.ui-state-focus { color:#fff; background:#0071bc; }
ul.ui-menu li.ui-menu-item a:hover { color:#fff; background:#0071bc;} */
ul.ui-menu li.ui-menu-item div.ui-menu-item-wrapper { display:block; font-family:Helvetica, Arial; font-size:14px; color:#0071bc; background:#fff; min-height:26px; line-height:26px; padding:0 18px 0 18px; margin:0; border:none; border-left:none; border-right:none; cursor:pointer;}
ul.ui-menu li.ui-menu-item div.ui-menu-item-wrapper.ui-state-active, ul.ui-menu li.ui-menu-item div.ui-menu-item-wrapper.ui-state-active { color:#fff; background:#0071bc; }
ul.ui-menu li.ui-menu-item:hover { color:#fff; background:#0071bc;}

ul.ui-autocomplete { position:absolute; width:341px; border:none; padding:none; margin:none; }
.ui-helper-hidden-accessible { display:none; }
ul.ui-menu li a.ui-corner-all { border:none; border-radius:none; border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; }
ul.ui-menu { padding:0; }

.fade { position:absolute; right:0; bottom:32px; background-image: url(images/fade.png); background-repeat:repeat-x; background-position:1px 1px; height:18px; width:342px; }

a#allCables {display:block;margin:0 0 12px 0;}
a {text-decoration:none;}
a:hover {color:#bcbcbc;}

#updated-on { z-index:9998; position:absolute; bottom:16px; right:350px; font-size:11px;color:#8e0e1b; }
#updated-on a, #updated-on a:visited {color:#8e0e1b}
#updated-on a:hover {color:#bcbcbc;}

img { border-style:none; }

/* Typeform Popup */
html{
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
}
iframe{
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  border:0;
}
#typeform-full { z-index:9999; }
/* --- */

@media only screen and (max-width:414px) and (orientation : portrait) {
	#header, #updated-on { display:none; }
	#header-portrait, #telegeography-logo-portrait, .company-logo-portrait { display:block; }
	#map { top:0; left:0; height:50%; width:100%; z-index:1; margin-right:0; }
	#side_bar { background:#fff; position:absolute; margin-top:45px; top:50%; left:0; width:100%; height:auto; z-index:998; }
	#content { width:auto; }
	#search, #copyright { box-sizing:border-box; width:100%; }
	#copyright { position:absolute; }
	ul.ui-menu { z-index:999; }
	ul.ui-autocomplete { width:100%; }
}

@media only screen and (min-width:415px) and (max-width:736px) {
	#header p, #header #footer a, #updated-on { display:none; }
	#header { width:auto; padding-top:16px; }
	#telegeography-logo {width:72px; height:14px; background:url(images/telegeography-logo-2x.png) no-repeat; background-size:72px 14px;}
	.company-logo { margin-top:9px; margin-bottom:2px; height:32px; background-size:contain; background-repeat:no-repeat; }
	.company { color:#666; }
	#map { position:fixed !important; top:0; left:0; height:10%; width:50%; height:100%; z-index:1; margin-right:0; }
	#side_bar { background:#fff; position:absolute; top:0; right:0; width:50%; height:auto; z-index:998; }
	#content { width:auto; }
	#footer { padding-top:2px; }
	#search, #copyright { box-sizing:border-box; width:100%; }
	#copyright { position:absolute; }
	h1 { font-size:20px; line-height:20px; }
	ul.ui-menu { z-index:999; }
	ul.ui-autocomplete { width:50%; }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

