{{#link-to "index" id="allCables"}}Submarine Cable List{{/link-to}}
<h2 id="name">{{model.name}}</h2>
<a class="email-link" href="mailto:?Subject=TeleGeography%20Submarine%20Cable%20Map&Body=" onclick="this.href=this.href+window.location.href;">Email link</a>
<div id="description">
	<h3>Cables</h3>
	<ul class="features">
		{{#each model.cables as |cable|}}
		<li>
			{{#link-to "submarine-cable" cable.id}}{{cable.name}}{{/link-to}}
		</li>
		{{/each}}
	</ul>
</div>