<h2>
	Submarine Cables
</h2>
<div id="description">
	<ul class="features">
		{{#each model as |cable|}}
			<li>
				{{#link-to "submarine-cable" cable.id}}{{cable.name}}{{/link-to}}
			</li>
		{{/each}}
	</ul>
</div>